body
{
    background-color: rgba(255, 85, 0, 0.719);
}
p
{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 10px;
    padding-left: 145px;
    font-size: 30px;
}
.case
{
    position: relative;
    background-color: rgb(34, 34, 34);
    border-radius: 25px;
    width: 400px;
    height: 460px;
    top: 100px;
    left: 475px;
}
#output
{
    position: relative;
    background-color: rgba(21, 255, 0, 0.671);
    border-radius: 10px;
    padding-top: 10px;
    left: 25px;
    width: 350px;
    height: 75px;
    font-size: 20px;
}
input
{
    position: relative;
    background-color: rgba(21, 255, 0, 0.671);
    border-radius: 10px;
    top: -10px;
    left: 25px;
    width: 165px;
    height: 75px;
    font-size: 20px;
}
#add, #sub, #mult
{
    position: relative;
    top: 10px;
    left: 25px;
}
#divi, #rem, #equal
{
    position: relative;
    top: 20px;
    left: 25px;
}
#pow, #sqrt
{
    position: relative;
    top: 30px;
    left: 25px;
}
#clear1, #clear2
{
    position: relative;
    width: 172.5px;
    top: 40px;
    left: 25px;
}
#clearall
{
    position: relative;
    width: 350px;
    top: 50px;
    left: 25px;
}
button
{
    border: 2px solid white ;
    color: white;
    background-color: rgb(121, 121, 121);
    border-radius: 10px;
    width: 113.2px;
    height: 30px;
}
button:hover
{
    background-color: rgb(53, 52, 52);
}
input:hover , #output:hover
{
    background-color: chartreuse;
}